<div class="lg:w-3/12 mt-10 p-6 shadow-2xl mx-auto">
    <h4 class="text-2xl text-center font-semibold py-3"> Login</h4>
    <form [formGroup]="loginForm" class="flex flex-col">
        <div class="flex flex-col mt-4 mb-1">
            <input type="text" name="" id="" class="p-2 border-gray-200 rounded "  formControlName="email" placeholder="email">
            @if(f['email'].errors && f['email'].touched){
                <div class="text-red-600">email is required</div>
                @if (f['email'].errors['email']) {
                    <div>Email is invalid</div>
                    }
            }
        </div>
        <div class="flex flex-col mt-4 mb-1">
            <input type="text" name="" id="" class="p-2 border-gray-200 rounded "  formControlName="password" placeholder="password">
            @if(f['password'].errors && f['password'].touched){
                <div class="text-red-600">password is required above 6 characters</div>
            } 
        </div>
        <button [disabled]="loginForm.invalid" [class.disabled]="loginForm.invalid" (click)="login()" class="bg-blue-500 rounded-md p-2 mt-3">submit</button>
    </form>
    <span class="mt-2 p-2" >Are you new!!<a href="" routerLink="/register" class="text-cyan-500 mt-2 pl-2 p-2cursor-pointer">Register</a></span>
</div>
